body {
  background-color: rgba(220, 220, 220);
  /* background-color: #fee2e2; */
}

header {
  background-color: rgba(238, 238, 238, 0.7);
  height: 50px;
  padding-top: 17px;
  border-top-left-radius: 25px;
  border-top-right-radius: 15px;
  display: flex;
  justify-content: space-around;
}
main {
  display: flex;
  height: fit-content;
  font-size: 20px;
}
.main-info {
  flex: 1;
  background-color: rgba(255, 255, 255, 0.7);
  padding: 25px;
}
aside {
  background-color: #fee2e2;
  /* height: fit-content; */
  max-width: 350px;
  /* height: 100%; */
  font-size: 20px;
  padding: 25px;

  /* position: fixed;
    top: 35%;
    right: 3%; */
}
footer {
  background-color: rgba(238, 238, 238, 0.7);
  height: 50px;
  font-size: 20px;
  display: flex;
  justify-content: center;
  border-bottom-left-radius: 15px;
  border-bottom-right-radius: 15px;
}
.footer-link {
  margin-top: 10px;
}
.duck {
  height: 200px;
  background-repeat: repeat-x;
  background-position: top;
  background-image: url("../assets/duck1.png");
  margin-bottom: 20px;
}

.achievements {
  margin: 25px 0;
}
.wrapper {
  max-width: 1170px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 16px;
  padding-right: 16px;
}

ul,
ol {
  margin: 0;
}
a {
  text-decoration: none;
  color: black;
  font-weight: bold;
  font-size: 27px;
}

.biography-page {
  color: #f87171;
}
